<h1 class="mt-3">Tabla de retorno de forforos por casa</h1>

{{#if sum}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">El numero de fosforos es de </th>
    
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">{{sum}}</th>
      
    </tr>
    
  </tbody>
</table>
{{/if}}
